body{
    background-color: goldenrod;
    font-size: 18px;
    font-weight: normal;
    color: whitesmoke;
    line-height: 1.6em;
}

.p1{
    background-color: yellowgreen;
    margin: 30px;
    width: 80%;
    border: 30px;
    border-radius: 15px;
    padding: 50% red;
    list-style-image: url(../17\ \ SEPT/);

}

.p1 label{
    display: block;
}

.p1 input[type="text"], .p1 textarea {
    
    padding: 3px;
    width: 90%;
    background-color: whitesmoke;
    color: white;   
}

.p1 input[type=submit]{
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
                 
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}

a:visited{
    color: white;
}

.block{
    float: left;
    width: auto;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    
}
